body {
    background-color: #051933;
    font-family: tahoma;
    color: white;
}

div {
    padding: 15px;
}

h1 {
    border-bottom: 3px solid white;
    padding-bottom: 2px;
    width: 25%;
    text-align: center;
    margin: 0 auto;
}

h2 {
    margin-bottom: 30px;

}

.link {
    margin-top: 25px;
}

.link a {
    background-color: #4A3765;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 15px;
    border: 2px solid #167BF7;

}

p {
    margin-bottom: 28px;

}