div {
    background-color: #f5f5f5;
    padding: 50px;
    text-align: center;
    border: 2px solid #d5d5d5;
    font-family: tahoma;
}

img {
    width: 190px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

p {
    text-align: center;
    line-height: 28px;
    width: 930px;
    margin: 15px auto;
    margin-bottom: 30px;
}

a {
    background-color: #49B970;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    padding: 14px 25px;
    border-radius: 22px;
}

h3 {
    font-size: 20px;
}

span {
    font-weight: bold;
    font-size:17px;
}