body {
    background-color: #060606;
    background-image: url(../img/background-pizza.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#banner {
    background-color: rgba(0, 0, 0, .5);
    height: 76px;
    padding: 30px 70px;
}

#banner h1 {
    float: left;
    position: relative;
    margin: 0;
}

#banner nav {
    float: right;
    position: relative;
    margin-top: 30px;
}

#banner nav ul {
    margin: 0;
}

#banner nav ul li {
    display: inline-block;
    width: 100px;

}

#banner nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

#sabores-pizzas h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    line-height: 6;
    text-shadow: 2px 2px 10px #060606;
}

#sabores-pizzas table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #2a2a2a;
}

#sabores-pizzas table td,
#sabores-pizzas table th {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    border: 1px solid #000;
    padding: 25px;
}

#sabores-pizzas .positivo {
    color: #87b50f;
}

#sabores-pizzas .negativo {
    color: #fb3958;
}

#copyright {

    padding: 35px 0 10px 0;
}

#copyright a {
    text-align: center;
    display: block;
}

#copyright p {
    text-align: center;
    font-size: 12px;
}

#sabores-pizzas {
    margin-top: 400px;
    padding-bottom: 60px;

}